# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [243]:
# 필요 라이브러리부터 설치할께요.
# !pip install pandas seaborn

---

# (실습준비) 데이터 불러오기부터

In [244]:
import pandas as pd
from sklearn.impute import KNNImputer

# 학습 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

---

# 1. 이상치/결측치 처리

#### [실습문제1] 미세먼지 데이터 결측치 처리
* 미세먼지 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.


* 앞서 데이터 불러오기 및 분석 단계에서 확인한 불필요한 변수에 대해 제거 해 주세요.

In [245]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

# DateTime으로 변경
air_21['측정일시'] = air_21['측정일시'].astype(str)
# air_21['측정일시'] = air_21['측정일시'].shift(periods=-1)
air_21 = air_21.drop(air_21.shape[0]-1)
coverted_time = air_21['측정일시'].str.slice(stop=-2) + air_21['측정일시'].str.slice(start=-2).map(lambda x: str(int(x)-1).zfill(2))
air_21['측정일시'] = pd.to_datetime(coverted_time, format='%Y%m%d%H')
# air_21['측정일시'] = air_21['측정일시'].astype(str)
#column drop 
air_21 = air_21.drop(['지역', '망', '측정소코드', '측정소명', '주소'], axis=1)
air_21.head()

                 측정일시    SO2   CO     O3    NO2  PM10  PM25
0 2021-10-01 00:00:00  0.003  0.6  0.002  0.039  31.0  18.0
1 2021-10-01 01:00:00  0.003  0.6  0.002  0.035  27.0  16.0
2 2021-10-01 02:00:00  0.003  0.6  0.002  0.033  28.0  18.0
3 2021-10-01 03:00:00  0.003  0.6  0.002  0.030  26.0  16.0
4 2021-10-01 04:00:00  0.003  0.5  0.003  0.026  26.0  16.0

In [246]:
# #KNN Imputer로 채움 n_neighbors=5
cols = ['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25']
imputer = KNNImputer(n_neighbors=5)
air_21_temp = imputer.fit_transform(air_21[cols])
air_21[cols] = pd.DataFrame(air_21_temp, columns=cols)
air_21.isna().sum()

측정일시    0
SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64

In [247]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

# DateTime으로 변경
air_22['측정일시'] = air_22['측정일시'].astype(str)
# air_22['측정일시'] = air_22['측정일시'].shift(periods=-1)
air_22 = air_22.drop(air_22.shape[0]-1)
coverted_time = air_22['측정일시'].str.slice(stop=-2) + air_22['측정일시'].str.slice(start=-2).map(lambda x: str(int(x)-1).zfill(2))
air_22['측정일시'] = pd.to_datetime(coverted_time, format='%Y%m%d%H')
# air_21['측정일시'] = air_21['측정일시'].astype(str)
#column drop 
air_22 = air_22.drop(['지역', '망', '측정소코드', '측정소명', '주소'], axis=1)
air_22.head()

                 측정일시    SO2   CO     O3    NO2  PM10  PM25
0 2022-01-01 00:00:00  0.003  0.4  0.026  0.016  23.0  12.0
1 2022-01-01 01:00:00  0.003  0.4  0.022  0.020  20.0   9.0
2 2022-01-01 02:00:00  0.003  0.5  0.014  0.028  20.0   9.0
3 2022-01-01 03:00:00  0.003  0.5  0.016  0.027  19.0  10.0
4 2022-01-01 04:00:00  0.003  0.5  0.005  0.040  24.0  11.0

In [248]:
# #KNN Imputer로 채움 n_neighbors=5
cols = ['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25']
imputer = KNNImputer(n_neighbors=5)
air_22_temp = imputer.fit_transform(air_22[cols])
air_22[cols] = pd.DataFrame(air_22_temp, columns=cols)
air_22.isna().sum()

측정일시    0
SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64

#### [실습문제2] 날씨 데이터 결측치 처리
* 날씨 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.

* '강우량'을 어떻게 해야할까요?

In [249]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_21.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
기온 QC플래그         8759
강수량(mm)          7810
강수량 QC플래그        6996
풍속(m/s)             2
풍속 QC플래그         8757
풍향(16방위)            2
풍향 QC플래그         8757
습도(%)               0
습도 QC플래그         8759
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       8759
해면기압(hPa)           0
해면기압 QC플래그       8759
일조(hr)           3968
일조 QC플래그         4791
일사(MJ/m2)        3968
일사 QC플래그         4791
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
운형(운형약어)         3812
최저운고(100m )      4212
시정(10m)             0
지면상태(지면상태코드)     8759
현상번호(국내식)        6634
지면온도(°C)            5
지면온도 QC플래그       8735
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [250]:
qc_cols = ['기온 QC플래그', '강수량 QC플래그', '풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', 
           '현지기압 QC플래그', '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그', 
           '지면온도 QC플래그']

weather_21 = weather_21.drop(qc_cols, axis=1)
weather_21 = weather_21.drop(['지점', '지점명'], axis=1)
weather_21 = weather_21.drop(['지면상태(지면상태코드)'], axis=1)
weather_21 = weather_21.drop(['현상번호(국내식)'], axis=1)

In [251]:
# 0으로 채움
weather_21['적설(cm)'] = weather_21['적설(cm)'].fillna(0)
weather_21['3시간신적설(cm)'] = weather_21['3시간신적설(cm)'].fillna(0)
weather_21['일조(hr)'] = weather_21['적설(cm)'].fillna(0)
weather_21['일사(MJ/m2)'] = weather_21['3시간신적설(cm)'].fillna(0)
weather_21['운형(운형약어)'] = weather_21['운형(운형약어)'].fillna('empty')
weather_21['최저운고(100m )'] = weather_21['최저운고(100m )'].fillna(0)
weather_21['전운량(10분위)'] = weather_21['최저운고(100m )'].fillna(0)
weather_21['강수량(mm)'] = weather_21['강수량(mm)'].fillna(0)

In [252]:
weather_21.isna().sum()

일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          2
풍향(16방위)         2
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
운형(운형약어)         0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         5
5cm 지중온도(°C)     5
10cm 지중온도(°C)    5
20cm 지중온도(°C)    5
30cm 지중온도(°C)    5
dtype: int64

In [253]:
# #KNN Imputer로 채움 n_neighbors=5
cols = ['풍속(m/s)','풍향(16방위)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)']
imputer = KNNImputer(n_neighbors=5)
weather_21_temp = imputer.fit_transform(weather_21[cols])
weather_21[cols] = pd.DataFrame(weather_21_temp, columns=cols)
weather_21.isna().sum()

일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
운형(운형약어)         0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [254]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_22.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
기온 QC플래그         2160
강수량(mm)          2079
강수량 QC플래그        1778
풍속(m/s)             0
풍속 QC플래그         2160
풍향(16방위)            0
풍향 QC플래그         2160
습도(%)               0
습도 QC플래그         2160
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       2160
해면기압(hPa)           0
해면기압 QC플래그       2160
일조(hr)           1089
일조 QC플래그         1071
일사(MJ/m2)        1089
일사 QC플래그         1071
적설(cm)           2020
3시간신적설(cm)       2145
전운량(10분위)           0
중하층운량(10분위)         0
운형(운형약어)         1221
최저운고(100m )      1417
시정(10m)             0
지면상태(지면상태코드)     2160
현상번호(국내식)        1742
지면온도(°C)            0
지면온도 QC플래그       2153
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [255]:
qc_cols = ['기온 QC플래그', '강수량 QC플래그', '풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', 
           '현지기압 QC플래그', '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그', 
           '지면온도 QC플래그']

weather_22 = weather_22.drop(qc_cols, axis=1)
weather_22 = weather_22.drop(['지점', '지점명'], axis=1)
weather_22 = weather_22.drop(['지면상태(지면상태코드)'], axis=1)
weather_22 = weather_22.drop(['현상번호(국내식)'], axis=1)

In [256]:
# 0으로 채움
weather_22['적설(cm)'] = weather_22['적설(cm)'].fillna(0)
weather_22['3시간신적설(cm)'] = weather_22['3시간신적설(cm)'].fillna(0)
weather_22['일조(hr)'] = weather_22['적설(cm)'].fillna(0)
weather_22['일사(MJ/m2)'] = weather_22['3시간신적설(cm)'].fillna(0)
weather_22['운형(운형약어)'] = weather_22['운형(운형약어)'].fillna('empty')
weather_22['최저운고(100m )'] = weather_22['최저운고(100m )'].fillna(0)
weather_22['전운량(10분위)'] = weather_22['최저운고(100m )'].fillna(0)
weather_22['강수량(mm)'] = weather_22['강수량(mm)'].fillna(0)

In [257]:
weather_22.isna().sum()

일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
운형(운형약어)         0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [258]:
# #KNN Imputer로 채움 n_neighbors=5
cols = ['풍속(m/s)','풍향(16방위)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)']
imputer = KNNImputer(n_neighbors=5)
weather_22_temp = imputer.fit_transform(weather_22[cols])
weather_22[cols] = pd.DataFrame(weather_22_temp, columns=cols)

In [259]:
weather_22.isna().sum()

일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
운형(운형약어)         0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

#### [실습문제3] air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성하기


* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [260]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
#이미 위에서 변경함 코드 기술
# DateTime으로 변경
# air_21['측정일시'] = air_21['측정일시'].astype(str)
# air_21['측정일시'] = air_21['측정일시'].shift(periods=-1)
# air_21 = air_21.drop(air_21.shape[0]-1)
# coverted_time = air_21['측정일시'].str.slice(stop=-2) + air_21['측정일시'].str.slice(start=-2).map(lambda x: str(int(x)-1).zfill(2))
# air_21['측정일시'] = pd.to_datetime(coverted_time, format='%Y%m%d%H')

#### [실습문제4] weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성하기


* weather_21, weather_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [261]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_21['일시'] = pd.to_datetime(weather_21['일시'], format='%Y%m%d %H:%M')
weather_21['일시'].head()

0   2021-01-01 01:00:00
1   2021-01-01 02:00:00
2   2021-01-01 03:00:00
3   2021-01-01 04:00:00
4   2021-01-01 05:00:00
Name: 일시, dtype: datetime64[ns]

In [262]:
weather_22['일시'] = pd.to_datetime(weather_22['일시'], format='%Y%m%d %H:%M')
weather_22['일시'].head()

0   2022-01-01 00:00:00
1   2022-01-01 01:00:00
2   2022-01-01 02:00:00
3   2022-01-01 03:00:00
4   2022-01-01 04:00:00
Name: 일시, dtype: datetime64[ns]

---

# 2. 데이터 합치기
* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보겠습니다

#### [실습문제5] 데이터 합치기
* 'df_21','df_22'에 21년도와 22년도의 미세먼지, 날씨 데이터를 합쳐 넣도록 하겠습니다.

In [271]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
air_21['일시'] = air_21['측정일시']
air_21.drop('측정일시', axis=1)
df_21 = pd.merge(left=air_21, right=weather_21, how='left', on='일시')

In [272]:
df_21.shape

(8759, 31)

In [281]:
df_21.isna().

측정일시             False
SO2              False
CO               False
O3               False
NO2              False
PM10             False
PM25             False
일시               False
기온(°C)           False
강수량(mm)          False
풍속(m/s)          False
풍향(16방위)         False
습도(%)            False
증기압(hPa)         False
이슬점온도(°C)        False
현지기압(hPa)        False
해면기압(hPa)        False
일조(hr)           False
일사(MJ/m2)        False
적설(cm)           False
3시간신적설(cm)       False
전운량(10분위)        False
중하층운량(10분위)      False
운형(운형약어)         False
최저운고(100m )      False
시정(10m)          False
지면온도(°C)         False
5cm 지중온도(°C)     False
10cm 지중온도(°C)    False
20cm 지중온도(°C)    False
30cm 지중온도(°C)    False
dtype: bool

In [265]:
air_22['일시'] = air_22['측정일시']
air_22.drop('측정일시', axis=1)
df_22 = pd.merge(left=air_22, right=weather_22, how='inner', on='일시')

In [269]:
df_21.isna().sum()

측정일시             0
SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
일시               0
기온(°C)           1
강수량(mm)          1
풍속(m/s)          1
풍향(16방위)         1
습도(%)            1
증기압(hPa)         1
이슬점온도(°C)        1
현지기압(hPa)        1
해면기압(hPa)        1
일조(hr)           1
일사(MJ/m2)        1
적설(cm)           1
3시간신적설(cm)       1
전운량(10분위)        1
중하층운량(10분위)      1
운형(운형약어)         1
최저운고(100m )      1
시정(10m)          1
지면온도(°C)         1
5cm 지중온도(°C)     1
10cm 지중온도(°C)    1
20cm 지중온도(°C)    1
30cm 지중온도(°C)    1
dtype: int64

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

---

# 3. train / test split

#### [실습문제7] 데이터셋 나누기 

* 데이터셋을 train(21년도 데이터), test(22년도 데이터)로 나눠 csv로 저장하도록 하겠습니다.


* train_x / train_y / test_x / test_y 로 나누세요.


* train_x.csv / train_y.csv / test_x.csv / test_y.csv 로 저장하세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

---